* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d3d3;
}

.container {
    position: relative;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: #fff;
    
}

.html-mid-space{ /* mid empty circle */
    position: absolute;
    content: '';
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #000;
    z-index: 1;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;         /*location adjusting */
    margin: auto; /*auto centrailize element*/   
}

.html-side-space{
    position: absolute;
    content: '';
    width: 50%;
    height: 25%; /* shape creation*/
    background-color: #404040;
    z-index: 2;

    right: -90px;
    top: 130px;

    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg); 
}

.line {
    background: #607ff4;
    position: absolute;
    width: 50%;
    height: 20%; /* shape creation*/

    right: 0;
    bottom: 0;
    top: 0;       /*location adjusting */
    margin: auto; /*auto centrailize element*/

    z-index: 15; /*just a random high number*/

    border-top-right-radius: 5px 50px;
    border-bottom-right-radius: 5px 50px;  
}

.yellow {
    background: #e9bf08;
    position: absolute;
    width: 50%;
    height: 20%;
    
    top: 0;
    bottom: 0;
    margin: auto;

    transform: rotateZ(90deg); 
    -webkit-transform: rotateZ(90deg);
}

