*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: #fff;

    overflow: hidden;
}

.html-green-triangle{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 0;
    background-color: transparent;

    bottom: 15%;
    left: 10%;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid green;
    
    transform: rotate(45deg);
}

.html-white-triangle{
    position: absolute;
    z-index: 2;
    background-color: transparent;

    bottom: 23%;
    left: 19%;

    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid #fff;
    
    transform: rotate(45deg);
}

.html-green-circle{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: green;
    z-index: 1;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    overflow: hidden;
}

.html-white-circle{
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 140px;
    background-color: #fff;
    z-index: 2;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.oval{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 100px/50px;
    z-index: 3;


    margin-top: 40%;
    margin-left: 30%;

    transform: rotate(45deg);
}

.html-mid-white{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px/30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 4;


    margin-top: 45%;
    margin-left: 41%;

    transform: rotate(45deg);
}

.html-mid-white-rectangular{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #fff;
    z-index: 4;


    margin-top: 38%;
    margin-left: 48%;

    transform: rotate(45deg);
}

.html-top-white{
    position: absolute;
    width: 38px;
    height: 30px;
    background-color: #fff;
    z-index: 4;


    margin-top: 30%;
    margin-left: 35%;
}

.html-top-white-side{
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #fff;
    z-index: 4;


    margin-top: 33%;
    margin-left: 42%;

    transform: rotate(70deg);
}

.html-btm-white {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #fff;
    z-index: 4;


    margin-top: 52%;
    margin-left: 58%;

    transform: rotate(30deg);
}

.border1 {
    position: absolute;
    width: 35.6px;
    height: 10px;
    background-color: green;
    z-index:5;

    margin-top: 35.5%;
    margin-left: 35.5%;

    border-top-right-radius: 43.75%;
    border-top-left-radius: 43.75%;
}

.border2 {
    position: absolute;
    width: 35px;
    height: 10px;
    background-color: green;
    z-index:5;

    margin-top: 38.25%;
    margin-left: 39.50%;

    border-top-right-radius: 37.5%;
    border-top-left-radius: 43.75%;

    transform: rotate(70deg);
}

.border3 {
    position: absolute;
    width: 37.5px;
    height: 10px;
    background-color: green;
    z-index:5;

    margin-top: 56.9%;
    margin-left: 58.7%;

    border-top-right-radius: 37.5%;
    border-top-left-radius: 43.75%;

    transform: rotate(30deg);
}