* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.container {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 500px;
    height: 500px;
    background-color: white;

    overflow: hidden;
}

.right {
    position: absolute;
    width: 400px;
    height: 0;
    z-index: 3;

    border-bottom: 130px solid #3c99d4;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-top-left-radius: 30%;
    border-top-right-radius: 30%;

    margin-top: 35%;
    margin-left: 40%;
    transform: rotate(90deg);
}

.circleRightUp {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 0;

    background-color: #3c99d4;

    margin-top: 7.9%;
    margin-left: 63%;
}

.circleRightDown {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 0;

    background-color: #3c99d4;

    margin-top: 82.5%;
    margin-left: 62.5%;
}

.top {
    position: absolute;
    height: 400px;
    width: 80px;
    border-radius: 15%;
    background-color: #0878ba;
    z-index: 1;

    margin-top: 0.5%;
    margin-left: 34%;

    
    transform: rotate(45deg);
}

.triangleTop {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 0;

    border-top: 380px solid #0878ba;
    border-right: 30px solid transparent;

    margin-top: 6%;
    margin-left: 49.5%;

    
    transform: rotate(45deg);
}

.btm {
    position: absolute;
    height: 400px;
    width: 80px;
    border-radius: 15%;
    background-color: #2389cb;
    z-index: 2;

    margin-top: 16%;
    margin-left: 33.5%;

    
    transform: rotate(-45deg);
}

.triangleBtm {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;

    border-bottom: 330px solid #2389cb;
    border-left: 30px solid transparent;

    margin-top: 15.5%;
    margin-left: 40.5%;

    
    transform: rotate(-50deg);
}
